.App {
  text-align: center;
}

.ContainerStyle {
  padding-top: 56px;
  padding-bottom: 56px;
}

.ComingSoon {
  display: flex;
  text-align: center;
  align-items: center;
  justify-items: center;
}

.ComingSoon > div {
  width: 80%;
  margin: auto;
}

.SoonImg {
  width: 70%;
  max-width: 700px;
}

.GpsFix {
  top: 36px;
  right: 28px;
  float: right;
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
}

#boxImg {
  max-width: 100%;
  max-height: 100%;
}

.TreeInfo {
  min-height: 100%;
}
