.App {
  text-align: center;
}

.ContainerStyle {
  padding-top: 56px;
  margin-bottom: 56px;
}

.ComingSoon {
  display: flex;
  text-align: center;
  align-items: center;
  justify-items: center;
  margin-top: 56px;
}

.ComingSoon > div {
  width: 80%;
  margin: auto;
}


